body {
  font-size: 1.8em;
  padding: 24px 0px 0px 0px;
}
header {
  margin-bottom: 24px;
}
.logo--link {
  color: #000;
  text-decoration: none;
}
.slogan {
  position: relative;
  top: -24px;
  left: 60px;
}
nav {
  height: 60px;
  line-height: 60px;
}
nav a {
  font-size: 2.4rem;
  margin-right: 24px;
  text-decoration: none;
}
nav a:last-child {
  margin-right: 0px;
}
nav a:hover {
  border-bottom: 2px solid;
}
.content {
  margin-bottom: 48px;
}
.pictionary--word  {
  height: 24px;
}
.pictionary--letter h2 {
  margin-bottom: 0px;
}
